/* example */

#container {
	margin: 10% auto 0px auto;
	width: 800px;
}

/* customize */

select.tidy_table {
	float: right;
	margin: 10px 0px 10px 0px;
}

table.tidy_table {
	background-color: #FFFFFF;
	border: 1px solid #BBBBBB;
	border-collapse: collapse;
	clear: both;
	width: 100%;
}

table.tidy_table th {
	white-space: nowrap;
}

table.tidy_table tr.check_on {
	background-color: #F7F7F7;
}

table.tidy_table tr.check_off {
	background-color: #FFFFFF;
}

table.tidy_table th {
	background-color: #DDDDDD;
}

table.tidy_table th.sort_asc {
	background: #EEEEEE url( images/arrow_asc.gif ) no-repeat right center;
}

table.tidy_table th.sort_desc {
	background: #EEEEEE url( images/arrow_desc.gif ) no-repeat right center;
}

table.tidy_table td {
	border-top: 1px solid #CCCCCC;
}
