install4j/
installers/
*.aax
unused/
#generic
tmp/
*.log
*.swp
*.diff
*.patch
.cache

# macosx
*.DS_Store
__MACOSX/
unused/

# windows
caches
Desktop.ini
Thumbs.db
*/Thumbs.db

# java
*.class
*.war
*.ear

# eclipse
.buildpath
.classpath
.factorypath
.project
.pmd
.checkstyle
.ruleset
.settings/
.worksheet/

# idea
*.iml
*.ipr
*.iws
.idea/

# netbeans
/nbproject

# vim
.*.sw[a-p]

# merge tooling
*.orig

# maven
target/
*.versionsBackup
*.releaseBackup

# sbt
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# scala ide
.cache-main
.cache-tests
.scala_dependencies

# haskell
dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virthualenv

# android
*.apk
*.ap_
*.dex

# python
*.pyc
*.pyo
cscope.files
